#intro {

    margin: 3rem auto 1.5rem auto;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 9rem;
        margin: 0;
    }

    h2 {
        font-size: 3.2rem;
        margin: 0 0 .5rem 0;
    }

}
