@use 'colours';

@mixin bodyText {

    font-family: "Ringside Regular Office A", "Ringside Regular Office B";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.55;
    font-style: normal;
    color: var(--black);

}

@mixin uppercase {

}


h1 {

    font-family: "Ringside Narrow A", "Ringside Narrow B";
    font-style: italic;
    font-weight: 800;
}


h2 {

    font-family: "Knockout 70 A", "Knockout 70 B";
    font-style: normal;
    font-weight: 400;
}

h3 {

    font-family: "Knockout 50 A", "Knockout 50 B";
    font-style: normal;
    font-weight: 400;
}

h4 {

    font-family: "Knockout 32 A", "Knockout 32 B";
    font-style: normal;
    font-weight: 400;
}

a {
    color:  var(--black);
    text-decoration: none;
    border-bottom: 1px solid var(--black);
}

p {

    @include bodyText;
    margin-top: 0;
    margin-bottom: 1.55rem;
}

em {
    font-style: italic;
}
